**/node_modules

packages/api/src/graphql.ts

packages/hooks/graphql.ts

packages/components/graphql.ts

packages/templates/graphql.ts
packages/templates/**/*.mock.json

apps/admin/.next
apps/admin/graphql.ts

apps/demo/.next

apps/o-mee/.next

apps/demo/.next

apps/gig/.next

packages/indexer/src/contracts
packages/worker/src/contracts

scripts/src/contracts
